@import '../_variables.scss';
@mixin set_button {
    padding: 13px 25px;
    font-weight: 500;
}

.nav_bar{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 25px 13em;

    ul, li, a{display: inline-block;}
    img{height: auto;width: 6.3em;}

    /* Navigations Links */
    ul{
        li{
            margin: 0 18px;
        }
        a{
            @include set_button();

            border: 2px solid transparent;
            border-radius: 15px;

            transition: border-color 300ms ease-in-out 0s;
        }
        a:hover{
            border-color: $default_color_black;
        }
    }

    /* Special Button */
    .contact_button{
        @include set_button();
        position: relative;
        overflow: hidden;

        border: 2px solid transparent;
        border-radius: 15px;

        color: $default_color_bg;

        transition: color 300ms ease 0s, border 300ms ease 0s;
    }
    .contact_button::before{
        content: ' ';
        position: absolute;
        z-index: -2;

        background-color: $default_color_nuance;

        height: 100%;width: 100%;
        top: 0;left: 0;
    }
    .contact_button::after{
        content: ' ';
        position: absolute;
        z-index: -1;

        background-color: $default_color_bg;

        height: 100%;width: 0;
        top: 0;left: 0;
        
        transition: width 300ms ease 0.1s;
    }

    /* Hover Section */
    .contact_button:hover{
        color: $default_color_black;
        border-color: $default_color_nuance;
    }
    .contact_button:hover::after{
        width: 100%;
    }
}
