@import '../_variables.scss';
@mixin set_button {
    padding: 13px 25px;
    font-weight: 500;
}

.nav_bar{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 25px 13em;

    ul, li, a{display: inline-block;}
    img{height: auto;width: 6.3em;}

    /* Navigations Links */
    ul{
        a{
            @include set_button();
            position: relative;
            overflow: hidden;

            border-radius: 15px;

            transition: color 500ms ease-in-out 0s;
        }
        li{
            margin: 0 15px;
        }
        a::before{
            content: '';
            position: absolute;
            z-index: -1;
            background-color: $default_color_black;

            height: 100%;width: 0;
            top: 0px;left: -2px;

            transition: width 600ms ease-in-out 0s;
        }

        /* Hover section */
        a:hover{
            color: $default_color_bg;
        }
        a:hover::before{
            width: 102%;
        }
    }

    /* Special Button */
    .contact_button{
        @include set_button();
        border-radius: 15px;

        color: $default_color_bg;
        background-color: $default_color_nuance;
    }
}
